.relatedproduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    height: 50vh;
    margin-top: 50px;

}
.relatedproduct h1{
    color:#171717;
    font-size: 50px;
    font-weight: 600;


}

.relatedproduct hr{
  width:200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;

}

.relatedproduct-item{
    margin-top:50px;
    display: flex;
    gap:30px;
    
}


@media (max-width:1280px){
    .relatedproduct{
        height: 50vh;

    }

    .relatedproduct h1{
        font-size: 40px;

    }

    .relatedproduct hr{
        width:160px;
        height: 4px;
    }

    .relatedproduct-item{
        gap:20px;
        margin-top: 30px;
    }
}


@media (max-width:1024px){
    .relatedproduct{
        height: 40vh;

    }

    .relatedproduct h1{
        font-size: 30px;

    }

    .relatedproduct hr{
        width:120px;
        height: 3px;
    }

    .relatedproduct-item{
        gap:15px;
        margin-top: 20px;
    }
}





@media (max-width:800px){
    .relatedproduct{
        height: 66vh;
        gap:6px;
        margin-bottom: 100px;


    }

    .relatedproduct-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
        column-gap: 60px;

    }

    
    
}


@media (max-width:500px){
    .relatedproduct{
        gap:6px;
        margin-bottom: 50px;
        height: 60vh;

    }

    .relatedproduct-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;

    }

    
    
}